<!DOCTYPE HTML>
<html>
<head>
	<% include ../partials/head %>
</head>
<body>
	<% include ../partials/header %>
	<div id="achievements">
		<div id="achieveTitle">
			Enter an appID to track progress		
		</div>
		<div class="achieveBar">
			<div id="achieveBarProgress"></div>
		</div>
	</div>
</body>
</html>